@charset "utf-8";

@media screen and (max-width: 640px){
    
    body{
        background-color: rgba(8, 27, 4, 0.925);
    }
    main{
        width: 90vw;
        position: absolute;
        left: 5%;
    }
    main input{
        height: 35px;
        padding: 5px;
    }
    main div{
        padding: 5px;
    }
    #botao1{
        margin: 5px 0 5px 0px;
        background-color: rgba(8, 27, 4,0.925) ;
        color: white;
    } 
    #botao1:hover{
        background-color: rgba(76, 245, 70, 0.712);
        color: black;
    }   
}