@charset "utf-8";

html, body{
    background-color: black;
    color: white;
}
h1#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
main{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    left: 25%;
}
main p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}