@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor01: rgba(17, 86, 102);
    --cor02: rgba(46, 206, 241, 0.87);    
}

*{
    box-sizing: border-box;
    outline: 0;
}
header{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor01);
    font: italic normal 18px 'Open Sans', sans-serif;
    line-height: 1.5em;
}
section h1{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
section{
    width: 640px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px; 
}
form input{
    font-size: 24px;
    height: 50px; 
    padding: 0px 20px;
}
form input:focus {
    outline: 1px solid var(--cor01);
}
form button{      
    background-color: var(--cor01);
    color: white;
    font: italic normal 18px 'Open Sans', sans-serif;
    height: 50px;
    cursor: pointer;
}
button:hover{
    background-color: var(--cor02);
    border-radius: 5px;
}
.paragrafo-resultado, .bad{
    background-color: var(--cor02);
    padding: 10px 20px;
}
.bad{
    background-color: rgba(247, 117, 117, 0.938);
}