@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: rgb(8, 27, 126);    
}
header h1{
    text-align: center;
    text-decoration: underline;
    color: white;
    margin: 10px;
    padding: 10px;
}
main{
    width: 50vw;
    min-height: 70vh;
    background-color: white;
    border-radius: 7px;  

    padding:20px;

    position: absolute;
    left: 25%;

    margin-bottom: 40px;
}
main p{
    text-align: center;
}
main input{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 5px;
}
main div{
    padding: 10px;
}
main button{
    width: 100%;
    height: 40px;
    margin:5px;
}
#botao1{
    margin: 5px 0 5px 0px;
    background-color: rgb(8, 27, 126) ;
    color: white;
    cursor: pointer;
}
#botao2{
    margin: 5px 0px 5px 0px ;
    background-color: rgb(168, 28, 28);
    color: white;
}
#botao1:hover{
    background-color: rgba(5, 141, 175, 0.712);
    color: white;
}
#botao2:hover{
    background-color: red;
    color: white;
}

